# Reload log files
*.qvw.log

# Windows thumb files
Thumbs.db

# temp files for tests
Tests/temp/*
Tests/*_log.txt

# Runtime directory
#Qvc_Runtime

# Office temp files
~$*
build/QvcValidate.qvw
build/ScriptRepository_V1.8.qvw